body {
    margin:0px;
    background-color:#ffffff;
    font-family:arial, verdana, sans-serif;
}

html{
    min-width:850px;
}
    #header{
        background-color:#cccccc;
        padding:0;
        height:93px;
    }

    #navigation{
        border-top-style: solid;
        border-bottom-style: solid;
        border-width:2px;
        border-color:#bababa;
        background-color:#efefef;
        margin-top:0%;
        padding:10px;
        height:20px;
    }

    div.img {
        margin: 0 auto;
        float: left;
        width: 21%;
        height:100%;
        background-color: #4CAF50;
    }

    div.search_bar{
        height:100%;
        margin:0 auto;
        float: left;
        width: 56%;
        background-color: #123456;
    }

input[type=text], select {
    width: 40%;
    padding: 1% 1%;
    margin: 3.4% 0.5% 2.7% 23%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 10%;
    background-color: #4CAF50;
    margin-top: 2.7%;
    color: white;
    padding: 1% 1%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}
    div.login{
        height:100%;
        margin:0 auto;
        float:left;
        width: 20%;
    }

    div.img img {
        width: 100%;
        height: auto;
    }

    #footer{
        background-color:#cccccc;
        padding:0;
        height:40px;
        clear:both;
        border-top:20px solid #ffffff;
	display: inline-block;
	line-height: 40px;
	vertical-align: middle;
	font-size: 80%;
	width: 100%;
    }

    .side_menu{
         float:left;
         width:17%;
         margin-left:2%;
         background-color:white;
         padding:0%;
         margin-top:20px;
         height:1000px;
    }

    .page_content{
         float:left;
         width:54%;
         margin-left:2%;
         background-color:#cccccc;
         padding:1%;
         margin-top:20px;
         height:1000px;
         overflow: auto;
    }

    .ads_panel{
         float:right;
         width:17%;
         margin-right:2%;
         background-color:#dbdbdb;
         padding:1%;
         margin-top:20px;
         height:1000px;
    }

.ads_panel img {
    margin-top:5%;
    width: 100%;
    height: auto;
}

#footer button{
    background-color: #123455;
    float:right;
    color: white;
    border: none;
    width: auto;
    height:40px;
    margin-right:2%;
    cursor: pointer;
    display:block;
    text-decoration:none;
    margin-top:0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    border: 1px solid #dbdbdb; 
    border-radius:2px;
    background-color: #f1f1f1;
}

.login button {
    float :right;
    margin-right:4%;
    margin-left: 0.5%;
    margin-top: 4%;
    background-color: #4CAF50;
    color: white;
    padding: 3% 1%;
    border: none;
    cursor: pointer;
    width: 30%;
}

.login button:hover {
    background-color: #45a049;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover {
    background-color: #555;
    color: white;
}

a:link {
    color: black;
}

a:visited {
     color: blue;
}


