body {
    margin:0px;
    background-color:#ffffff;
    font-family:arial, verdana, sans-serif;
}

    #header{
        background-color:#cccccc;
        padding:10px;
        height:120px;
    }

    #navigation{
        border-top-style: solid;
        border-bottom-style: solid;
        border-width:2px;
        border-color:#bababa;
        background-color:#efefef;
        padding:10px;
        height:20px;
    }

    #footer{
        background-color:#cccccc;
        padding:10px;
        height:40px;
        clear:both;
        border-top:20px solid #ffffff;
    }

    .side_menu{
         float:left;
         width:17%;
         margin-left:2%;
         background-color:white;
         padding:0%;
         margin-top:20px;
         height:1000px;
    }

    .page_content{
         float:left;
         width:54%;
         margin-left:2%;
         background-color:#cccccc;
         padding:1%;
         margin-top:20px;
         height:1000px;
         overflow: auto;
    }

    .ads_panel{
         float:right;
         width:17%;
         margin-right:2%;
         background-color:#dbdbdb;
         padding:1%;
         margin-top:20px;
         height:1000px;
    }

.ads_panel img {
    margin-top:5%;
    width: 100%;
    height: auto;
}

div.img {
    margin: 5px;
    float: left;
    width: 180px;
}

div.search_bar{
    margin-left:2%;
    float: left;
    width: 73%;
}

div.login{
    margin-left:2%;
    float:right;
    width: 10%;
}

div.img img {
    width: 200%;
    height: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    border: 1px solid #dbdbdb; 
    border-radius:2px;
    background-color: #f1f1f1;
}

button {
    float :right;
    margin-top: 2%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin-left: 2%;
    border: none;
    cursor: pointer;
    width: 100%;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover {
    background-color: #555;
    color: white;
}

a:link {
    color: black;
}

a:visited {
     color: blue;
}

input[type=text], select {
    width: 30%;
    padding: 12px 20px;
    margin-left: 29%;
    margin-top: 3%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 10%;
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}
