:root {
  --main-color: #f2f4f3;
  --navigation-color: #22333b;
  --button-color: #c96751;
  --main-darker-darker-color: #ba9e5e;
  --main-darker-color: #dbbf7d;
  --button-hover-color: #874c62;
  --visited-color: #85E5F8;
  --custom-font: palanquin;
}

@font-face {
        font-family: palanquin;
        src: url(fonts/palanquin/palanquin-regular.ttf);

}

body {
    margin:0px;
    background-color: var(--main-color);
    font-family:arial, verdana, sans-serif;
}

html{
    min-width:850px;
}
    #header{
        padding:0;
        height:93px;
    }

    div.img {
        margin: 0 ;
        padding-left: 2%;
        float: left;
        width: 21%;
        height:100%;
    }

    div.img img {
        width: auto;
        height: 100%;
    }

    div.search_bar{
        height:100%;
        margin:0;
        float: left;
        width: 56%;
    }

div.search_bar input[type=text], select {
    width: 40%;
    padding: 1% 1%;
    margin: 3.4% 0.5% 2.7% 23%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 10%;
    background-color: var(--button-color);
    margin-top: 2.7%;
    color: white;
    padding: 1% 0.5%;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: var(--button-hover-color);
}

    div.login{
        height:100%;
        margin:0 auto 0 0.9%;
        float:left;
        width: 20%;
    }

.login button {
    float: left;
    margin-right:4%;
    margin-left: 0.5%;
    background-color: var(--button-color);
    color: white;
    padding: 3% 3%;
    border: none;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    cursor: pointer;
    width: 33% auto;
    white-space:nowrap;
}

.login button:hover {
    background-color: var(--button-hover-color);
}

    #navigation{
        /*border-top-style: solid;
        border-bottom-style: solid;
        border-width:2px;
        border-color:#bababa;*/
        border-top:8px solid var(--button-color);
        background-color: var(--navigation-color);
        margin-top:0%;
        padding:10px 10px 10px 2%;
        height:20px;
    }

.arrow{
    color: var(--main-color);
}

#navigation a:link {
    color: var(--main-color);
}

#navigation a:visited {
    color: var(--visited-color);
}

    .side_menu{
         font-family: var(--custom-font);
         float:left;
         width:17%;
         margin-left:2%;
         background-color: var(--main-color);
         padding:0%;
         margin-top:3%;
         margin-bottom: 3%;
         height:auto;
    }

    .page_content{
         float:left;
         width:54%;
         margin-left:2%;
         background-color: var(--main-color);
         padding:1%;
         margin-top:20px;
         height:auto;
         overflow: auto;
         font-family: var(--custom-font);
    }
    
    .euromed_banner{
        width:100%;
        height:auto;
    }

    .order_bar{
        padding:0%;
        width:100%;
        height:3%;
        border-bottom:2px solid var(--button-hover-color);
    }

    #nameorderbutton{
        width:10%;
        padding:0;
        border:0;
        float:left;
        margin-bottom: 0%;
        margin-left:0%;
        background-color: var(--main-color);
        text-align:left;
    }

    #nameorderbutton:hover{
        background-color: var(--button-hover-color);
        color:white;

    }

    #famousorderbutton{
        width:15%;
        padding:0;
        border:0;
        float:left;
        margin-bottom: 0%;
        margin-left:0%;
        background-color: var(--main-color);
        text-align:left;
    }

    #famousorderbutton:hover{
        background-color: var(--button-hover-color);
        color:white;
    }

    .ads_panel{
         float:right;
         width:17%;
         margin-right:2%;
         background-color: var(--main-color);
         padding:1%;
         margin-top:20px;
         height:auto;
    }

.ads_panel img {
    margin-top:5%;
    width: 100%;
    height: auto;
}

#footer{
    background-color: var(--main-color);
    padding:0;
    height:40px;
    clear:both;
    border-top:2px solid var(--button-color);
    display: inline-block;
    line-height: 40px;
    vertical-align: middle;
    font-size: 80%;
    width: 100%;
}

#footer button{
    background-color: var(--button-color);
    float:right;
    color: white;
    border: none;
    width: auto;
    height:40px;
    margin-right:2%;
    cursor: pointer;
    display:block;
    text-decoration:none;
    margin-top:0;
}

#footer button:hover {
    background-color: var(--button-hover-color);
}

.side_menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 98%;
    border: 3px solid  var(--button-color);
    border-radius:6px;
    background-color: var(--navigation-color);
}

.side_menu ul ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    /*border: 2px solid  var(--button-color);*/
    /*border-radius:6px;*/
    /*background-color: var(--main-color);*/
    border: 0;
    border-radius:0;
    background-color: var(--main-darker-color);
}

.side_menu li a {
    display: block;
    color:  var(--main-color);
    padding: 8px 16px;
    text-decoration: none;
}

.side_menu li a:hover {
    background-color: var(--button-hover-color);
    border-radius:4px;
    color:  var(--main-color);
}


.side_menu ul ul li a {
  padding: 8px 16px 8px 30px;
}


.side_menu ul ul ul li a {
  padding: 8px 16px 8px 44px;
}

.active {
    background-color: var(--button-color);
}

.lower_active{
    background-color: var(--main-darker-darker-color);
}

a:link {
    color: black;
}

.content a:visited {
     color:  var(--visited-color);
}

.conf_speaker{
    margin-left: 3%;
    margin-top: 4%;

}

.field_error{
    float:left;
    margin-left:2%;
    margin-top:1.5%;
    color:red;
}

.field_text{
    width:25%;
    color:black;
}

.field_text_login{
    margin-top:2%;
    width:100%;
    font-size: 150%;
    text-align:center;
    color:black;
}

.field {
    float:left;
    width: 50%;
    padding: 1% 1%;
    margin: 0.5% 0.5% 2.7% 0%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}

.field_login {
    float:left;
    width: 50%;
    padding: 1% 1%;
    margin: 0.5% 25% 2.7% 25%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}

.login_field_error{
    width:100%;
    margin-top:1%;
    text-align:center;
    color:red;
}
.login_page_login_button {
    width: 25%;
    margin-left:37.5%;
    float:left;
    text-align:center;
    background-color: var(--button-color);
    margin-top: 2%;
    color: white;
    padding: 1% 0.5%;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 120%;
}

#content_login input[type=submit]{
    width: 25%;
    margin-left:37.5%;
    float:left;
    text-align:center;
    background-color: var(--button-color);
    margin-top: 2%;
    color: white;
    padding: 1% 0.5%;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 120%;

}
.page_content input[type=submit] {
    width: 15%;
    float:right;
    background-color: var(--button-color);
    margin-top: 8%;
    color: white;
    padding: 1% 0.5%;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 120%;
}

.page_content input[type=submit]:hover {
    background-color: var(--button-hover-color);
}

#signup_info_head {
    border-color:black;
    text-align: bottom;
    margin-bottom:0%;
    margin-top:2%;
    border-bottom-style:solid;
    color:black;
    height: auto;
    width:100%;
    font-size:100%;
    font-weight:bold;
}

.user_info{
    margin-top:0%;
    width:100%;
    height:auto;
}

.user_info_profile{
    margin-top:1%;
    width:100%;
    height:auto;
}
.tbl {
  border-collapse:collapse;
  border-spacing:0;
  border-width:4px;
  width:95%;

}

.tbl td{
  font-family:Arial, sans-serif;
  font-size:14px;
  padding:10px 5px;
  border-style:solid;
  border-width:4px;
  overflow:hidden;
  word-break:normal;
}

.tbl th{
  font-family:Arial, sans-serif;
  font-size:14px;
  font-weight:normal;
  padding:10px 5px;
  border-style:solid;
  border-width:4px;
  overflow:hidden;
  word-break:normal;
}

.tbl .tbl-cell{
  vertical-align:top;
}
